.customButton {
  outline: none;
  text-transform: uppercase;
  border-radius: 80px;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  border: none;

  @include respond-below(md) {
    font-size: 16px;
    padding: 10px 24px;
  }

  &.wFull {
    width: 100%;
  }

  &:disabled {
    opacity: 0.7;
  }
  &.v1 {
    background-color: $color_primary;
    color: white;

    &:hover {
      background-color: white;
      color: $color_primary;
    }
  }
}
