.main {
  background-color: #151515;
  * {
    color: white;
  }
  // * {
  //   &::-webkit-scrollbar {
  //     width: 5px !important;
  //     background-color: $color_g1 !important;
  //     height: 3px !important;
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background: $color_primary !important;
  //     border-radius: 30px !important;
  //   }
  // }
}
