.AboutSection {
  background-color: white;
  padding: 100px 0;
  * {
    color: $color_black;
  }

  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 50px;

    .left {
      .top {
        h3 {
          color: $color_primary;
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 400;
        }

        h2 {
          text-transform: capitalize;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 48px;
          font-weight: 500;
          line-height: 1.2em;
        }

        p {
          color: $color_text_grey;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5em;
        }
      }

      hr {
        background-color: $color_primary;
        height: 1px;
        width: 100%;
        // opacity: 1;
        border: none;
        margin: 40px 0;
      }

      .bot {
        > div {
          display: flex;
          justify-content: space-between;

          > div {
            h4 {
              font-size: 28px;
            }
          }
        }

        p {
          color: $color_text_grey;
          font-size: 18px;
          text-align: center;
          margin-top: 20px;
        }
      }
    }

    .right {
      background-image: url("/images/about-img.jpg");
      border-radius: 16px;
    }
  }

  @include respond-below(md) {
    .wrap {
      grid-template-columns: 1fr;

      .right {
        aspect-ratio: 1 / 1;
      }
    }
  }
}
