.ServicesSection {
  padding-bottom: 100px;
  .wrap {
    .item {
      background-color: #242424;
      padding: 40px 30px;
      border-radius: 24px;
      height: 100%;

      h4 {
        text-align: center;
        color: $color_primary;
        // font-size: 0px;
      }

      ul {
        padding: 0;
        li {
          list-style: none;
          font-size: 18px;
          margin-bottom: 20px;
          display: flex;
          p {
            color: #8b8b8b;
            font-size: 18px;
          }
          //   align-items: ;

          svg {
            margin-top: 4px;
            margin-right: 20px;
            path {
              color: $color_primary;
            }
          }
        }
      }

      &:hover {
        background-color: #f2f4f8;
        transform: scale(1.05);
      }
    }
  }

  @include respond-below(md) {
    .wrap {
      .item {
        height: fit-content;
        margin-bottom: 20px;
      }
    }
  }
}
