.BannerSection {
  width: 100dvw;
  // height: 110dvh;
  background-image: url("/images/bg-vector.webp");
  background-position: center -90px;

  .cont {
    padding-top: 80px;
    text-align: center;

    h1 {
      font-size: 86px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      margin-top: 28px;
    }

    .bgImg {
      margin-top: 80px;
      // background-color: red;

      img {
        width: 100%;
      }
    }
  }

  @include respond-below(md) {
    background-position: center -250px;

    .cont {
      padding-top: 40px;

      h1 {
        font-size: 42px;
        max-width: 280px;
        margin: auto;
      }
    }
  }
}
