@import "@/styles/scss/variables";
@import "@/styles/scss/mixins";
@import "@/styles/scss/media_queries";

.LanguageSupport {
    padding: 60px 0 100px;
    background-color: #fdfdfd;

    .langWrapper {
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
        margin-top: 40px;
        flex-wrap: wrap;

        .langItem {
            text-align: center;
            // width: 140px;
            height: 140px;
            background: white;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            transition: all 0.3s ease;
            cursor: pointer;

            h3 {
                font-size: 42px;
                font-weight: 700;
                margin-bottom: 0;
                opacity: 0.8;

            }

            p {
                font-size: 16px;
                font-weight: 500;
                color: $color_text_grey;
                margin-top: 5px;
            }


        }
    }

    @include respond-below(md) {
        .langWrapper {
            gap: 20px;

            .langItem {
                width: 110px;
                height: 110px;

                h3 {
                    font-size: 32px;
                }
            }
        }
    }
}